<div class="container mt-5">
  <div style="text-align: center;" *ngIf="!registerMode">
    <h1>Find Your Match</h1>
    <p class="lead">Register For Free...</p>
    <div class="text-center">
      <button class="btn btn-secondary btn-lg me-2" (click)="registerToggle()">Create Account</button>
      <!--<button class="btn btn-info btn-lg">Learn more</button>-->
    </div>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-5">
        <app-register></app-register>
      </div>
    </div> 
  </div>
</div>
