@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a:focus {
  outline: none; 
}

a:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  outline-offset: 3px;
  border-radius: 4px;
}

a:active {
  color: var(--mat-sys-primary);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
