.navigation-bar {
  height: 70px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer{
  flex-grow: 1;
}

.title{
  font-size: x-large;
  color: var(--text-on-main);
  margin-left: 32px;
  padding: 10px;
}

.clickable:hover{
  background-color: var(--main-hover);
}

.clickable{
  cursor: pointer;
  border-radius: 9999px;
}

.sign-in{
  margin-right: 32px;
}