.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: thin solid var(--broderColor);
}
.navbar-logo-title{
    margin-left: 32px;
    display: flex;
    flex-flow: row;
    width: fit-content;
    cursor: pointer;
}
.navbar-title{
    margin-left: 8px;
    font-size: var(--titleSize);
    font-weight: 500;
    color: var(--primaryColor);
}

.navbar-logo img{
    background-color: var(--primaryColor);
    padding: 3px;
    border-radius: 50%;
}
.search-box{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    width: 400px;
    background-color: var(--bgSelected);
    border: 2px solid var(--bgSelected);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 20px;
    transition: border 0.5s ease-in-out;
}
.search-box input {
    outline: none;
    border: 0px;
    flex-grow: 1;
    height: inherit;
    background-color: transparent;
}
.search-box button {
    height: inherit;
    background-color: transparent;
    border: 2px solid transparent;
    color: gray;
    cursor: pointer;
    
}
.search-box button svg{
    transition: color 0.5s ease-in-out;
}
.button-focused{
    color: var(--primaryColor);
}
.search-focused{
    border-color: var(--primaryColor);
}