
<form class="row col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-8 offset-2 mt-5 pt-5 " #loginForm="ngForm" (ngSubmit)="login()">
  <h1 class="text-center">Sign In</h1>
  <mat-form-field class="row px-0 mx-0" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="loginCred.email" name="email" required>
    <mat-error>
      Please provide a valid email address
    </mat-error>
  </mat-form-field >
  <mat-form-field  class="row px-0 mx-0" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="loginCred.password" name="password" required>
    <mat-error>
      Please provide a valid password
    </mat-error>
  </mat-form-field>
  <mat-error class="my-1" *ngIf="!loginValid">
    The username and password were not recognized
  </mat-error>
  <div  class="row px-0 mx-0">
    <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
  </div>
</form>
