<div class="row">
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h1>Sign In</h1>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Email" [(ngModel)]="loginCred.email" name="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" [(ngModel)]="loginCred.password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-error class="my-1" *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
