@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Newsfeed" asp-action="Index">Newsfeed</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Messenger" asp-action="Index">Messenger</a>
    </li>

    <li class="nav-item">
        <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
        </form>
    </li>

    <li >
        <form method="post" action="/Search/Users" style="position: relative;" asp-antiforgery="true">
            <input id="search-input" type="text" class="search-box" name="search" required />
            <button type="submit" class="search-button" onclick="search()">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

<style>
    .search-box{
        border-radius:10px;
        height: 40px;
        width: 350px;
        border: none;
        padding-right: 40px;
        padding-left: 8px;
    }

    .search-box:focus-visible{
        outline: none;
    }

    .search-button {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 12px 5px 8px;
        border: none;
        background-color: transparent;
    }

    .search-button i {
        font-size: 1.5rem;
    }
</style>
