
.no-posts-container {
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
}

.svg-container {
    margin-bottom: 15px;
}

.no-posts-icon {
    width: 64px;
    height: 64px;
}

.no-posts-text {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: 600;
}
