<div class="no-posts-container">
    <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="no-posts-icon">
            <path d="M32 2a30 30 0 1030 30A30 30 0 0032 2zm0 56a26 26 0 1126-26 26 26 0 01-26 26z" fill="var(--primary-color)" />
            <line x1="20" y1="20" x2="44" y2="44" stroke="var(--primary-color)" stroke-width="4" stroke-linecap="round" />
            <line x1="44" y1="20" x2="20" y2="44" stroke="var(--primary-color)" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
    <p class="no-posts-text">Oops! There are no posts to show right now.</p>
</div>
