.profile-card {
    max-width: 700px;
    margin: 24px auto;
    padding: 24px;
    border-radius: 16px;
    background: var(--md-sys-color-surface-container-high);
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--md-sys-color-surface-container);
    border: 3px solid var(--md-sys-color-primary);
}

h2 {
    color: var(--md-sys-color-on-surface);
    margin-bottom: 8px;
}

.sub {
    margin: 0px;
    color: var(--md-sys-color-on-surface-variant);
}

.section {
    margin: 24px 0;
}

.section h3 {
    margin-bottom: 6px;
    color: var(--md-sys-color-primary);
}

.posts-section {
  max-width: 700px;
  margin: 32px auto;
}

.posts-title {
  margin-bottom: 16px;
  color: var(--md-sys-color-primary);
}

.empty {
  margin: 24px 0;
  text-align: center;
  color: var(--md-sys-color-on-surface-variant);
}

app-post-item {
  margin-bottom: 16px;
  display: block;
}
