
.tool-bar{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-container{
   padding-top: 80px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
