@using Application.DTOs.User
@model List<SimplifiedUserDTO>

<div class="d-flex">
    <div class="inbox-user-list p-3 col-4">
        @foreach (var user in Model)
        {
            <div onclick="loadChat(@user.Id)">
                @{
                    await Html.RenderPartialAsync("_InboxUserCardPartial", user);
                }
            </div>
        }
    </div>
    <div class="p-3 col-8" id="chatPanel">
    </div>
</div>

<script>
    function loadChat (userId){
        $.ajax({
            url: `@Url.Action("LoadChat")?userId=${userId}`,
            type: 'GET',
            success: function (data) {
                $('#chatPanel').html('');
                $('#chatPanel').html(data);
                let panel = document.getElementById('chatPanel');
                panel.scrollBy({
                    top: panel.scrollHeight,
                    left: 0,
                    behavior: "smooth",
                });
            },
            error: function () {
                alert("Failed to load popup content.");
            }
        });
    }
</script>
<style>
    #chatPanel{
        height: 85vh;
        overflow-y: auto;
    }
</style>

