<div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <form [formGroup]="registerForm" class="mt-4" (ngSubmit)="registerForm.valid && register()"
              autocomplete="off"
              *ngIf="registerForm"
              >
          <h2 class="text-center text-secondary">Create your account</h2>
          <hr />
          <div class="row">
            <mat-form-field class="col" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName">
              <mat-error>
                Invalid First Name
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
              <mat-error>
                Invalid Last Name
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label> Username </mat-label>
              <input matInput formControlName="username">
              <mat-error>
                Invalid Username
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [max]="maxDate" formControlName="dateOfBirth" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                Invalid Date Of Birth
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col" appearance="fill">
              <mat-label>Sex</mat-label>
              <mat-select formControlName="sex">
                <mat-option value="m">Male</mat-option>
                <mat-option value="f">Female</mat-option>
              </mat-select>
              <mat-error>
                Invalid Field
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="fill">
              <mat-label>Interested In</mat-label>
              <mat-select formControlName="interest">
                <mat-option value="m">Males</mat-option>
                <mat-option value="f">Females</mat-option>
                <mat-option value="b">Both</mat-option>
              </mat-select>
              <mat-error>
                Invalid Field
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col" appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let country of countryList" value="{{country}}">{{country}}</mat-option>
              </mat-select>
              <mat-error>
                Invalid Country
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="fill">
              <mat-label>City</mat-label>
              <input formControlName="city" matInput placeholder="Ex. Cairo">
              <mat-error>
                Invalid City
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label> Email </mat-label>
              <input matInput formControlName="email">
              <mat-error>
                Invalid Email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label> Password </mat-label>
              <input matInput formControlName="password">
              <mat-error>
                Invalid Password
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label> Confirm password </mat-label>
              <input matInput formControlName="confirmPassword">
              <mat-error>
                Invalid field
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mt-3">
            <span>
              By clicking Sign up, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.
            </span>
          </div>
          
          <div class="form-group text-center my-3">
            <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>


