@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-secondary: #9966CC;
  --color-background: #F8F8F8;
  --color-accent: #FFD700;
  --color-text: #333333;
  --color-text-secondary: #f0f0f0;
}

.dark-theme {
  --color-background: #1A1A2E;
  --color-text: #E0E0E0;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-background);
}

a:focus {
  outline: none; 
}

a:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  outline-offset: 3px;
  border-radius: 4px;
}

a:active {
  color: var(--mat-sys-primary);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
