<div [ngClass]="(isMobilePhone)? 'mobile-subtitle-margin': 'normal-subtitle-margin'" class="subtitle-container">
  <h1 class="subtitle">
    {{user.firstName}} {{user.lastName}}
  </h1>
</div>
<div class="profile row w-100" *ngIf="user.username">
  <mat-card class="info-card col-4" *ngIf="!isMobilePhone">
    <mat-card-header>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle *ngIf="(presenceService.onlineUsers$ | async)?.includes(user.username)"> <span class="online"></span> Active now</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!(presenceService.onlineUsers$ | async)?.includes(user.username)">{{timeFormatterService.getDateTimeAgo(user.lastActive)}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{profilePicture?.url || './assets/Pictures/profile-placeholder.png'}}" 
    alt="profile picture">
    <mat-card-content>
        <div class="mt-3">
          <strong>Location:</strong>
          <p>{{user.city}}, {{user.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{timeFormatterService.getLoacaleDateTime(user.created) | date}}</p>
        </div>

    </mat-card-content>
    <mat-card-actions class="d-block text-center">
      <button mat-flat-button color="accent" *ngIf="(!isFriendRequested) && (!isFriend)" (click)="sendFriendRequest()">
        <i class="material-icons me-1">person_add_alt_1</i> Add
      </button>
      <button mat-flat-button color="warn" *ngIf="isFriendRequested" (click)="unsendFriendRequest()">
        Unsend Friend Request
      </button>
      <button mat-flat-button color="primary" *ngIf="isFriend" [routerLink]="['/messages', {username: user.username}]">
        <mat-icon>chat</mat-icon> Message
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="col-8">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="About"> 
        <div class="mt-4" *ngIf="user.bio">
        <h2>Bio</h2>
        <p>{{user.bio}}</p>
      </div>
      <div class="mt-4">
        <h2>Interested in</h2>
        <p>{{formatInterest(user.interest)}}</p>
      </div></mat-tab>
      <mat-tab label="Gallery">
        <app-gallery *ngIf="user.pictures.length > 0" [pictures]="user.pictures"></app-gallery>
        <h2 class="text-center mt-5" *ngIf="user.pictures.length === 0">This user doesn't have any pictures...</h2>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
