<div class="profile" *ngIf="user.username">
  <mat-card class="info-card" *ngIf="!isMobilePhone">
    <mat-card-header>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle *ngIf="(presenceService.onlineUsers$ | async)?.includes(user.username)"> <span class="online"></span> Active now</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!(presenceService.onlineUsers$ | async)?.includes(user.username)">{{getLoacaleDateTime(user.lastActive) | timeago}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{user.photos[0].url || './assets/Pictures/profile-placeholder.png'}}" 
    alt="profile picture">
    <mat-card-content>
        <div>
          <strong>Location:</strong>
          <p>{{user.city}}, {{user.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{getLoacaleDateTime(user.created) | date}}</p>
        </div>

    </mat-card-content>
    <mat-card-actions class="text-center">
      <button mat-button color="accent" *ngIf="!isLiked" (click)="addLike()">
        <mat-icon>favorite</mat-icon>  LIKE
      </button>
      <button mat-button color="primary" *ngIf="isMatch" routerLink="/chat" [state]="user">
        <mat-icon>chat</mat-icon>
        Chat
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-tab-group mat-align-tabs="center" class="tabs">
    <mat-tab label="About"> 
      <div class="mt-4" *ngIf="user.bio">
      <h2>Bio</h2>
      <p>{{user.bio}}</p>
    </div>
    <div class="mt-4">
      <h2>Interested in</h2>
      <p>{{formatInterest(user.interest)}}</p>
    </div></mat-tab>
    <mat-tab class="gallery" label="Gallery">
      <div class="galler">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
