.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabs{
    width: 100%;
}
.info-card{
    width: 300px;
    margin-right: 16px;
}
.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}
.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}
.gallery{
    display: flex;
    align-content: center;
}
.ngx-gallery {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.online{
    height: 10px;
    width: 10px;
    background-color: rgb(1, 189, 42);
    border-radius: 50%;
    display: inline-block;
}