<div [ngClass]="(isMobilePhone)? 'mobile-subtitle-margin': 'normal-subtitle-margin'" class="subtitle-container">
  <h1 class="subtitle">
    Explore
  </h1>
</div>
<div class="container mt-3">
  <form *ngIf="userParams" #form="ngForm" class="" (ngSubmit)="loadUsers()">
    <div class="row justify-content-center">
      <mat-form-field class="col-5">
        <mat-label>Age from</mat-label>
        <input matInput type="number" name="minAge" [(ngModel)]="userParams.minAge" min="18">
        <mat-error *ngIf="userParams.minAge < 18">18 is the minimum</mat-error>
      </mat-form-field>

      <mat-form-field class="col-5">
        <mat-label>Age to</mat-label>
        <input matInput type="number" name="maxAge" [(ngModel)]="userParams.maxAge" min="18">
        <mat-error *ngIf="userParams.maxAge && userParams.maxAge < 18">18 is the minimum</mat-error>
      </mat-form-field>


      <mat-form-field class="col-5">
        <mat-label>Show</mat-label>
        <mat-select name="sex" [(ngModel)]="userParams.sex">
          <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-5">
        <mat-label>Order By</mat-label>
        <mat-select name="orderBy" [(ngModel)]="userParams.orderBy">
          <mat-option *ngFor="let oreder of orderByOptions" [value]="oreder.value">{{oreder.display}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mt-4 row justify-content-center">
      <button mat-raised-button color="primary" class="col-auto me-1" type="submit">Apply</button>
      <button mat-raised-button color="accent" (click)="resetFilters()" class="col-auto" type="submit">Reset</button>
    </div>
  </form>
</div>

<div class="users-grid">
  <div *ngFor="let user of users">
    <app-user-card class="user-card-res" (liked)="loadUsers()" [user]="user"></app-user-card>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="userParams && pagination && pagination.totalPages > 1">
  <mat-paginator [length]="pagination.totalItems" [pageSize]="pagination.itemsPerPage" (page)="pageChanged($event)"
    aria-label="Select page">
  </mat-paginator>
</div>