<div class="row mx-1" >
    <table *ngIf="usersRoles.length > 0" mat-table [dataSource]="usersRoles">
        <ng-container style="width: 10px;"  matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let item">{{item.id}}</td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let item">{{item.username}}</td>
        </ng-container>
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let item">{{item.roles.join('/')}}</td>
        </ng-container>
          <ng-container matColumnDef="edit-buttons">
            <th mat-header-cell *matHeaderCellDef>
                Actions
            </th>
            <td mat-cell *matCellDef="let item"> 
                <button (click)="openDialog(item)" mat-flat-button color="primary"> 
                    <mat-icon>edit</mat-icon>Roles
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'username', 'roles', 'edit-buttons']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'username', 'roles', 'edit-buttons'];"></tr>
    </table>
</div>
