.landing {
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}


.hero {
  width: 100%;
  background: linear-gradient(
    135deg,
    var(--mat-sys-primary),
    var(--mat-sys-primary-fixed-dim)
  );
  padding: 250px 0px;
  text-align: center;
}

.hero-title {
  margin: 0 0 12px;
  font-weight: 800;
  line-height: 1.05;
  font-size: clamp(1.8rem, 6vw, 2.8rem);
  color: var(--mat-sys-on-primary);
}

.hero-subtitle {
  margin: 0 0 24px;
  font-size: clamp(1rem, 2.4vw, 1.2rem);
  color: var(--mat-sys-on-primary);
  line-height: 1.4;
}

.cta-btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

@media (max-width: 480px) {
  .hero {
    padding: 150px 16px;
  }

  .cta-btn {
    width: 100%;
    padding: 14px 0;
  }

  .hero-title {
    font-size: clamp(1.4rem, 7vw, 2rem);
  }

  .hero-subtitle {
    margin-bottom: 20px;
  }
}