<header class="mb-6">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Dating App</a>
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerActiveLink="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerActiveLink="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerActiveLink="active">Messages</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerActiveLink="active">errors</a>
        </li>
      </ul>
      
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userData.firstName}}!</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <a class="btn btn-secondary btn-lg me-2" routerLink="/login">Sign in</a>
      </ng-container>
    </div>

  </nav>
</header>
