.nav-img-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 32px;
}
 .nav-img-circle:hover{
  cursor: pointer;
 }
.main-nav-bar{
  width: inherit;
  height: inherit;
}
.nav-bar {
  background-color: #3f51b5;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.nav-bar-title{
  font-size: large;
}