.pointer{
  cursor:pointer;
  text-decoration: none;
  text-size-adjust: 10pt;
}
.nav-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  right: 32px;
}
.nav-img-circle {
  max-height: 40px;
  max-width: 40px;

  border-radius: 50%;
  display: inline;
}
.main-nav-bar{
  width: inherit;
  height: inherit;
}