
<mat-toolbar color="primary" class="main-nav-bar">
  <button mat-button style="font-size: large;" (click)="route()">Dating App</button>
  <div style="font-size: medium;" class="me-auto">
    <ng-container *ngIf="!isMobilePhone && (accountService.currentUser$ | async)">
        <button mat-flat-button color="primary" routerLink="/users" routerActiveLink="active">Explore</button>
        <button mat-flat-button color="primary" routerLink="/lists" routerActiveLink="active">Matches</button>
        <button mat-flat-button color="primary" routerLink="/messages" routerActiveLink="active">Messages</button>
        <button mat-flat-button color="primary" *appHasRole='["admin", "moderator"]' routerLink="/admin" routerActiveLink="active">Admin</button>
    </ng-container>
    <!-- <button mat-button routerLink="/errors" routerActiveLink="active">errors</button> -->
  </div>
  <div [matMenuTriggerFor]="menu" class="nav-user pointer" *ngIf="(accountService.currentUser$ | async) as user"> 
      <img class="nav-img-circle me-2" src="{{user.userData.photos[0]?.url || './assets/Pictures/profile-placeholder.png'}}" alt="{{user.userData.firstName}}" >
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="users/edit">
    <mat-icon>edit</mat-icon> Edit Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>
  <button mat-button *ngIf="(accountService.currentUser$ | async) === null" routerLink="/login">
    Sign in
  </button>
</mat-toolbar>