<div cdkDropList cdkDropListOrientation="horizontal" 
[cdkDropListData]="user.photos"  class="mt-4 row drag-list justify-content-center mx-0"
 *ngIf="user" (cdkDropListDropped)="drop($event)">
    <div  [cdkDragData]="photo" class="col-2 drag-box mt-2" *ngFor="let photo of user.photos" cdkDrag>
        <div class="text-center">
            <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
            <button mat-icon-button color="warn" (click)="deletePhoto(photo.id)" *ngIf="photo.order != 0">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
   
</div>
<input #fileUpload style="display:none;" id="inputFile" type="file" ng2FileSelect [uploader]="uploader" multiple/>
<div class="mt-2 d-grid justify-content-center">
    <div >
        <button mat-raised-button color="primary" class="me-2" [disabled]="!isOrderChanged"
                (click)="reorderPhotos()">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button mat-raised-button color="accent" (click)="fileUpload.click()" [disabled]="uploader.queue.length > 0"><mat-icon>add_photo_alternate</mat-icon>
            Add Picture
        </button>
    </div>
</div>


<div class="row mt-4 mx-0" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
    <table *ngIf="uploader.options.isHTML5" mat-table [dataSource]="uploader.queue" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> {{ item?.file?.name}} </td>
        </ng-container>
        <!-- Size Column -->
        <ng-container  matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let item">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </ng-container>
        <!--determines the headers -->
        <tr mat-header-row *matHeaderRowDef="['name', 'size']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'size'];"></tr>
      </table>

    <div class="mt-4">
        <div>
            <mat-progress-bar *ngIf="uploader.isUploading" mode="determinate" [value]="uploader.progress"></mat-progress-bar>
        </div>
        <div class="mt-4 d-grid justify-content-center">
            <div>
                <button mat-raised-button color="primary" type="button" class="me-2"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <mat-icon>upload</mat-icon> Upload all
                </button>
                <!-- <button type="button" mat-raised-button color="accent" class="me-2"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <mat-icon>block</mat-icon> Cancel all
                </button> -->
                <button type="button" mat-raised-button color="warn"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <mat-icon>delete</mat-icon> Remove all
                </button>
            </div>
        </div>
    </div>

</div>
