<div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="user.photos"  class="mt-4 row drag-list text-center" *ngIf="user" (cdkDropListDropped)="drop($event)">
    <div  [cdkDragData]="photo" class="col-2 drag-box mt-2" *ngFor="let photo of user.photos" cdkDrag>
        <div class=" text-center">
            <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
            <button (click)="deletePhoto(photo.id)" *ngIf="photo.order != 0" class="mt-2 btn btn-danger btn-sm">
                <i class="fa fa-trash"></i> 
            </button>
        </div>
    </div>
    
    <!-- <button class="mt-2 col-1 text-center btn img-thumbnail btn-outline-success" style="height: 100px;">
            <i class="fa fa-plus"></i>
    </button> -->
    
</div>
<div class="col-8 mw-100 d-flex">
    <button  [disabled]="!isOrderChanged" class="mt-3 btn btn-success" (click)="reorderPhotos()">Save my new pictures order</button>
</div>
<div class="row mt-4">

    <div class="col-md-3">

        <h4>Add Photos</h4>

        <!-- <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="card bg-faded p-3 text-center mb-3 my-drop-zone">
            <i class="fa fa-upload fa-3x"></i>
            Drop photos here
        </div> -->
        
        <!-- Multiple -->
        <div class="custom-file">
            <input class="custom-file-input" id="inputFile" type="file" ng2FileSelect [uploader]="uploader" multiple/>
        </div>
    </div>
</div>
        
<div class="row mt-4" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
        </tbody>
    </table>

    <div>
        <div>
            Queue progress:
            <div class="progress mt-2">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <div class="btn-group mt-3">
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>
    </div>

</div>
