<div [ngClass]="(isMobilePhone)? 'mobile-subtitle-margin': 'normal-subtitle-margin'" class="subtitle-container">
    <h1 class="subtitle">
      Messages
    </h1>
</div>
<div class="text-center mt-4" *ngIf="friends == null || friends.length == 0">
    <h1>Your friends list is empty...</h1>
    <a mat-flat-button color="primary" routerLink="/users"> Find new friends now</a>
</div>
<div class="row" style="width: 100%;" *ngIf="friends != null && friends.length > 0">
    <div class="col-md-3 friends-container pe-0 border-end">
        <div class="cards-container">
            <div class="friend-card" (click)="loadChat(friend)" *ngFor="let friend of friends">
                <img class="friend-img-circle" [src]="friend.pictures.length > 0 ? friend.pictures[0].url : './assets/Pictures/profile-placeholder.png'" alt="avatar">
                <div class="about">
                    <div class="name">{{friend.firstName}} {{friend.lastName}}</div>
                    <div class="status" *ngIf="(presenceService.onlineUsers$ | async)?.includes(friend.username)"> <span class="online"></span> Active now</div>
                    
                    <div class="status" *ngIf="!(presenceService.onlineUsers$ | async)?.includes(friend.username)">{{timeFormatterService.getDateTimeAgo(friend.lastActive)}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="friendsPagination && friendsPagination.totalPages > 1">
            <mat-paginator [length]="friendsPagination.totalItems"
                [pageSize]="friendsPagination.itemsPerPage"
                (page)="friendsPageChanged($event)"
                aria-label="Select page">
            </mat-paginator>  
        </div>
    </div>
    <div *ngIf="currentUserSelection" class="col-md-9 chat-container">
        <app-chat [currentFriend]="currentUserSelection"></app-chat>
    </div>
    <div *ngIf="!currentUserSelection" class="col-md-9 text-center p-0">
        <h1 class="mt-5">
            Choose a friend to chat with...
        </h1>
    </div>
</div>