<div class="gallery">
  <img *ngFor="let picture of pictures; let i = index" id="{{'picture' + i}}" [src]="picture.url"
    [ngClass]="{'active': i === activeIndex}" [ngClass]="{'in-active': i != activeIndex}">
  <span class="indicator rounded">{{activeIndex + 1}}/{{this.pictures.length}}</span>
  <button mat-flat-button color="warn" class="delete-button" (click)="deleteImage(activeIndex)"><mat-icon class="me-0">delete</mat-icon></button>

  <button class="image-button prev-button" (click)="prevImage()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button class="image-button next-button" (click)="nextImage()"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
