.gallery {
    position:relative;
    width: 100%;
    height:787px;
}

.gallery img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 1s;
}

.active {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.in-active {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
}

.indicator {
    background-color: #3f51b5;
    color: white;
    position: absolute;
    top: 6px;
    left: 48%;
    padding: 5px;
}

.image-button {
    height: 100%;
    position: absolute;
    border: 0;
    background-color: rgba(255, 0, 0, 0);
    color: black;
}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}
.controll-buttons{
    bottom: 32px;
    left: 40%;
    position: absolute;
    width: fit-content;
}
.image-button:hover {
    background-color: rgba(0, 0, 0, 20%);
}