<div class="container mt-4" *ngIf="matches.length > 0">
    <div class="row mt-4">
        <div class="col-3" *ngFor="let user of matches">
            <app-user-card [isLiked]="true" [user]="user"></app-user-card>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination && pagination.totalPages > 1">
    <mat-paginator [length]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        (page)="pageChanged($event)"
        aria-label="Select page">
    </mat-paginator>  
  </div>
