.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 1.5rem;
    background-color: var(--color-background);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.nav-logo{
    margin: 0 1rem 0 0;
    display: block;
}

.nav-logo img
{
    height: 36px;
}

.nav-link-container{
    flex-grow: 1;
}

.nav-link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1rem;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-button{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;;
    border: 1px solid var(--color-primary);
}

.primary-button
{
    background-color: var(--color-primary);
    color: var(--color-background);
}

.secondary-button
{
    border: 1px solid var(--color-primary);
}