@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
:root {
    --primaryColor: #EF3562;
    --secondaryColor: #989898;
    --broderColor: #E6E6E6;
    --bgColor: #ffffff;
    --bgSelected: #F8F8F8;
    --dangerColor: #DB2323;
    --titleSize: 24pt;
}


/* Apply the font to all elements */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
