:root {
    --primary-color: #6A42C2;
    --lighter-primary-color: #d3c9f147;
    --secondary-color: #ECE3FF;
    --focus-color: #5C3AB0;
    --hover-color: #5435A0;
}

/* Override Bootstrap's primary color */
.btn-primary,
.text-primary,
.bg-primary {
    color: #fff;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

    .btn-primary:hover,
    .bg-primary:hover {
        background-color: var(--hover-color) !important; /* Slightly darker shade for hover state */
        border-color: var(--hover-color) !important;
    }

.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
    .btn-outline-primary:hover {
        color: white !important;
        background-color: var(--primary-color) !important;
    }

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar{
    background-color: var(--primary-color);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--focus-color);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.online-users-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 250px;
    z-index: 1000;
}

.online-user-item {
    display: flex;
    align-items: center;
    padding: 8px 15px;
}

.online-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #31a24c;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.user-avatar {
    margin-right: 10px;
    position: relative;
}

    .user-avatar img {
        object-fit: cover;
        width: 42px;
        height: 42px;
    }


/* inbox related classes*/
.inbox-user-list {
    border-right: 1px solid var(--secondary-color);
    overflow-y: auto;
}

.inbox-user-card {
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

    .inbox-user-card:hover {
        background-color: var(--secondary-color);
    }

.user-card__picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}