mat-button-toggle {
    height: 100%;
    width: 100%;
}
mat-button-toggle-group {
    height: 100%;
    width: 100%;
    font-size: small;
}
mat-button-toggle:active {
    background-color:#D2D2FF;
}
mat-button-toggle:hover {
    background-color:#D2D2FF;
}