<div>
    <mat-button-toggle-group name="navigation" aria-label="Font Style">
        <mat-button-toggle value="explore" routerLink="/users" routerActiveLink="active">
            <mat-icon>explore</mat-icon>
            Explore
        </mat-button-toggle>
        <mat-button-toggle value="matches" routerLink="/lists" routerActiveLink="active">
            <mat-icon>favorite</mat-icon>
            Matches
        </mat-button-toggle>
        <mat-button-toggle value="messages" routerLink="/messages" routerActiveLink="active">
            <mat-icon>chat</mat-icon>
            Messages
        </mat-button-toggle>
        <mat-button-toggle value="admin" *appHasRole='["admin", "moderator"]' routerLink="/admin" routerActiveLink="active">Admin</mat-button-toggle>
    </mat-button-toggle-group>
</div>
