name: .NET

on:
  push:
    branches: [ "master", "develop"]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore SocialApp.slnx
    - name: Build
      run: dotnet build SocialApp.slnx --no-restore
    - name: Test
      run: dotnet test SocialApp.slnx --no-build --verbosity normal
